<%=raw wymeditor_initialize %>
<h1> New Faq </h1>

<%= form_for @faq_new do |f| %>
  <%= f.label :title %>:
  <%= f.text_field :title %><br />

  <%= f.label :icon_name %>:
  <%= f.text_field :icon_name %><br />

  <%= f.label :body %>:
  <%= f.text_area :body, class: 'wymeditor' %><br />

  <%= f.submit %>
<% end %>

