<ul class="breadcrumb-mini">
  <%= render :partial => "help_central/breadcrumb/faq" %>
</ul>

<div class="content-body">

  <div class="help-central-header">
    <!--
    <a href="#" class="title">

      <span class="icon-frequent-questions-lightblue_32_34-before"></span>

      <h2 id="title">Dúvidas Frequentes</h2>

    </a>
    -->

    <a href="#" class="title icon-frequent-questions-lightblue_32_34-before"><h2 id="title">Dúvidas frequentes</h2></a>

    <%= render partial: "shared/small_search_form" %>
  </div>

  <hr class="list-separator">

  <div class="help-central-section">

    <h3>Dúvidas (Mais) Frequentes</h3>

    <ul class="questions-list">
      <%= render partial: @top_questions.results, locals: { with_path: true, basic_guide: false }  %>
    </ul>

  </div>

  <hr class="list-separator">

  <div class="help-central-section">

    <h3>Dúvidas por Categorias</h3>

    <%= render partial: "faqs/categories", collection: @categories, as: :category %>
  </div>

</div>

<ul class="breadcrumb-mini white-area">
  <%= render :partial => "help_central/breadcrumb/faq" %>
</ul>

