<% # If the topic isn't leaf and belongs to a basic guide nothing happens %>

<% basic_guide ||= false %>
<% read_more ||= false %>
<% with_path ||= false %>
<% search ||= false %>

<% unless !topic.leaf? && basic_guide %>

  <% if topic.leaf? %>
    <li class="question-list-item <% if read_more %> item-gray <% end %>">
      <span class="icon-<%= search ? 'doubt-topic' : topic.icon_name %>-gray_16_18 text-replacement question-list-icon">Ícone</span>
      <div class="question-list-content">
        <%= link_to topic.title, show_topic_path(topic.root, topic), class: "question-list-link" %>

        <% if search %>
          <span class="question-list-description legend">
            <% text = markparser.render(topic.body) %>
            <%= raw strip_tags(truncate_html(truncate_html_tag(text, "img"))) %>
          </span>
        <% end %>

        <% if read_more %>
          <span class="legend"><%= topic_path_html(topic) %></span>
        <% elsif with_path %>
          <span class="legend"><%= t(:visualizations, count: topic.view_count) %> — <%= topic_path_html(topic) %></span>
        <% else %>
          <span class="legend"><%= t(:visualizations, count: topic.view_count) %></span>
        <% end %>

      </div>
    </li>

  <% else %>
    <h6 class="guide-subtopic"><%= topic.title %></h6>
    <ul class="questions-list">
      <%= render partial: topic.children %>
    </ul>
  <% end %>

<% end %>
