<h1> Edit <%= @topic.title %> </h1>

<%= link_to "Add topic", new_topic_path(:parent_id => @topic) %>

<% @topics_and_categories.each do |item| %>
  <%= item.title %>
  <%= link_to "Edit", edit_topic_path(item) %>
  <%= link_to "Add topic", new_topic_path(:parent_id => item) %>
<% end %>

<%= form_for @topic do |f| %>
  <%= f.label :title %>:
  <%= f.text_field :title %><br />

  <%= f.label :icon_name %>:
  <%= f.text_field :icon_name %><br />

  <%= f.label :body %>:
  <%= f.text_area :body, class: 'wymeditor' %><br />

  <%= f.submit %>
<% end %>
