<ul class="breadcrumb-mini">
  <%= render :partial => "help_central/breadcrumb/index" %>
</ul>

<div class="content-body">

  <%= render partial: "shared/big_search_form", locals: { question: "Como podemos ajudar?" } %>

  <div class="section-questions">

    <h3 class="section-title icon-course-gray_32_34-before">Dúvidas (Mais) Frequentes</h3>

    <ul class="questions-list">
      <%= render partial: @top_questions.results %>
    </ul>
  </div>

  <hr class="list-separator">

  <div class="section">

    <h3 class="section-title icon-course-gray_32_34-before">Aprenda com os Guias</h3>

    <ul class="guides-list clearfix">
      <%= render partial: "basic_guide" %>
      <%= render partial: @guides %>
    </ul>

  </div>

  <hr class="list-separator">

  <%= render partial: "shared/feel_supported", locals: { index: true } %>
</div>

<ul class="breadcrumb-mini white-area">
  <%= render :partial => "help_central/breadcrumb/index" %>
</ul>

