<div class="section">
  <h3 class="icon-feel-supported-gray_32_34-before feel-supported-title<%= ' feel-supported-title-index' if index %>"><%= t(:feel_supported) %></h3>
  <div class="feel-supported-areas">
    <div class="feel-supported-area icon-talk-to-us-green_48_50-before">
      <h4 class="feel-supported-sub-title"><%= t(:help_us) %></h4>
      <p><%= t(:help_us_explanation) %>, <%= link_to t(:talk_with_us), "http://www.redu.com.br/contato", title: t(:talk_with_us) %>.</p>
    </div>
    <div class="feel-supported-area icon-say-hi-green_48_50-before">
      <h4 class="feel-supported-sub-title"><%= t(:talk_online) %></h4>
      <p><%= t(:talk_online_explanation) %> <%= link_to t(:say_hello), "javascript:void(0);", onclick: "olark('api.box.expand')", title: t(:oracle) %>.</p>
    </div>
  </div>
</div>
