<%=raw wymeditor_initialize %>
<h1> Novo Guia Básico </h1>

<%= form_for @basic_new do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title %>

  <%= f.label :icon_name %>
  <%= f.text_field :icon_name %>

  <%= f.label :body %>
  <%= f.text_area :body, class: 'wymeditor' %>

  <%= f.submit %>
<% end %>
