<h1> New Guide </h1>

<%= form_for @guide do |f| %>
  <%= f.label :title %>:
  <%= f.text_field :title %><br />

  <%= f.label :body %>:
  <%= f.text_field :body %><br />

  <%= f.submit %>
<% end %>

