<div class="content-body">
  <div class="help-central-header">
    <%=raw wymeditor_initialize %>
    <h1> Nova Guia </h1>
  </div>

  <hr class="list-separator">

  <div class="help-central-section">
    <%= form_for @guide_new do |f| %>
      <%= f.label :title %>
      <%= f.text_field :title %>

      <%= f.label :icon_name %>
      <%= f.text_field :icon_name %>

      <%= f.label :body %>:
      <%= f.text_area :body, class: 'wymeditor' %>

      <input type="button" class="button-default"<%= f.submit %></input>
    <% end %>
  </div>
</div>
